@use "../../../../scss/abstracts/" as *;

.container{
        padding-left: 12%;
        display: flex;
        list-style: none;
        gap: 22px;
        li{
            letter-spacing: 3px;
            a{
                color: $color-primary-500;
            }
            a:hover{
                font-weight: 1000;
            }
        }
}


@media(max-width: 1200px){
    .container{
            position: absolute;
            top: 105px;
            right: 0;
            height: 70vh;
            width: 35vw;
            background-color: $color-grey-1000;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            padding-left: 0;
            @include effect-style-shadow-5;
            transform: translateX(100%);

            span{
                display: none;
            }
    }
}