@use "../../../scss/abstracts/" as *;

.container{
    position: absolute;
    top: 0;
    right: 0px;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 50px;  
    color: $color-grey-1000;
    padding-left: 80px;
    @include effect-style-linear-1;

    div{
        display: flex;
        gap: 8px;
        align-items: center;


    }

}

@media(max-width: 500px){
    .container{
        border-radius: none;
        justify-content:  space-around;
        width: 100%;
    }
}