@use "../../../scss/abstracts/" as *;

.container{
    position: absolute;
    top: 40px;
    right: 0px;
    width: 60%;
    height: 105px;
    display: flex;
    align-items: center;
    gap: 10px;  
    color: $color-primary-500;
    @include effect-style-linear-2;
    @include effect-style-shadow-4;
    ul{
        padding-left: 12%;
        display: flex;
        list-style: none;
        gap: 22px;
        li{
            letter-spacing: 3px;
            a{
                color: $color-primary-500;
            }
        }
    }
}


@media(max-width: 1200px){
    .container{
        letter-spacing: 2px;
        justify-content: space-around;
        ul{
            position: absolute;
            top: 105px;
            right: 0;
            height: 70vh;
            width: 35vw;
            background-color: $color-grey-1000;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            padding-left: 0;
            @include effect-style-shadow-5;
            transform: translateX(100%);

            span{
                display: none;
            }
        }

    }
}

@media(max-width: 500px){
    .container{
        height: 60px;
    }
}