@use "../../../scss/abstracts/" as *;

.container{
    // width: 100vw;
    position: relative;
    height: 150px;
    width: 200px;
    display: flex;
    gap: 0;
    align-items: flex-end;
    

    h6{
        font-size: 120px;
        font-weight: 400;
    }

    h2{
        font-size: 45px;
        position: absolute;
        bottom: 15px;
        left: 63px;
    }

    h3{
        position: absolute;
        left: 113px;
        bottom: 5px;
    }

}